[alias]
	s = status -sb
	sw = switch
	am = commit --amend
	unstage = restore --staged
	last = log -1 HEAD
	go = "!f() { git switch -c \"$1\" 2> /dev/null || git switch \"$1\"; }; f"
[user]
	email = ***
	name = ***
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[branch]
	autosetupmerge = always
[merge]
	tool = code
[mergetool "code"]
	cmd = code --wait $MERGED
[diff]
	tool = code
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[core]
	editor = code --wait
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[pull]
	rebase = true
[mergetool]
	keepBackup = false
[help]
	autocorrect = 1
[commit]
	gpgsign = true
